h2 Resource Size Breakdown

script.
  callbacks.displayResourceSizeBreakdown = function(result) {
    var stats = result.pageStats;
    var labels = [];
    var data = [];
    var colors = [];
    var totalBytes = 0;
    var largestSingleCategory = 0;
    for (var i = 0, len = RESOURCE_TYPE_INFO.length; i < len; ++i) {
      var label = RESOURCE_TYPE_INFO[i].label;
      var field = RESOURCE_TYPE_INFO[i].field;
      var color = RESOURCE_TYPE_INFO[i].color;
      if (field in stats) {
        var val = Number(stats[field]);
        totalBytes += val;
        if (val > largestSingleCategory) largestSingleCategory = val;
        labels.push(label);
        data.push(val);
        colors.push(color);
      }
    }
    // Construct the query to send to the Google Chart Tools.
    var query = [
      'chs=300x140',
      'cht=p3',
      'chts=' + ['000000', 16].join(','),
      'chco=' + colors.join('|'),
      'chd=t:' + data.join(','),
      'chdl=' + labels.join('|'),
      'chdls=000000,14',
      'chp=1.6',
      'chds=0,' + largestSingleCategory,
    ].join('&');
    var i = document.createElement('img');
    i.src = 'http://chart.apis.google.com/chart?' + query;
    document.body.insertBefore(i, null);
  };